{% extends "external_organization/externalindex.html" %}
{% block  body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered table-hover">
    <tr style="background-color: lightslategray;color: black">
      <td>Sl No</td>
      <td>Tittle</td>
      <td>Description</td>
      <td>Date</td>
{#      <td>&nbsp;</td>#}
{#      <td>&nbsp;</td>#}
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i['tittle'] }}</td>
      <td>{{ i['description'] }}</td>
      <td>{{ i['date'] }}</td>
{#      <td><a href="/edit_schedule_admin/{{ i['schedule_id'] }}">Edit</a></td>#}
{#      <td><a href="/delete_schedule_admin/{{ i['schedule_id'] }}" onclick="return confirm('Are You Sure?')">Delete</a></td>#}
    </tr>
      {% endfor %}

{# <tr align="center">#}
{#      <td colspan="8"><a href="/add_schedule">ADD</a> </td>#}
{#  </tr>#}
  </table>
</form>
</body>
</html>
{% endblock %}